<% if portfolio.holdings.empty? %>
  <p>This portfolio is currently empty.</p>
  <p>Track a new holding below!</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Last Price</th>
      <th>Weighted Average Cost</th>
      <th>Current Value</th>
      <th>P/L</th>
    </tr>
  </thead>
  <tbody>
    <% portfolio.holdings.each do |holding| %>
      <tr onclick="window.location='<%= holding_path(holding) %>';" style='cursor: pointer;'>
        <td><%= holding.symbol %></td>
        <td><%= sprintf('%.2f', holding.transactions.pluck(:quantity).sum) %></td>
        <td>$ <%= sprintf('%.2f', 0) %></td>
        <td>$ <%= sprintf('%.2f', 0) %></td>
        <td>$ <%= sprintf('%.2f', 0) %></td>
        <td>$ <%= sprintf('%.2f', 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>