<% if portfolio_holdings.empty? %>
  <p>This portfolio is currently empty.</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Average Cost</th>
      <th>Last Price</th>
      <th>Current Value</th>
    </tr>
  </thead>
  <tbody>
    <% portfolio_holdings.each do |holding| %>
      <tr onclick="window.location='<%= holding_path(holding) %>';" style='cursor: pointer;'>
        <td>
          <%= holding.symbol %>
        </td>
        <td>
          <%= number_with_precision(holding.quantity, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          $ <%= number_with_precision(holding.wac, :precision => 2, :delimiter => ',') %>
        </td>
        <td>
          $ <%= 
          begin
            number_with_precision(last_price = finnhub_client.quote("#{holding.symbol}").c, :precision => 2, :delimiter => ',')
          rescue FinnhubRuby::ApiError
            '-'
          end
          %>
        </td>
        <td>
          $ <%= number_with_precision(holding.quantity * last_price, :precision => 2, :delimiter => ',') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>