<%# Flash message %>
<% if notice %>
  <div class="flash-message"><%= notice %></div>
<% end %>

<%# Table of transactions %>
<article>
  <div class="article-header">
    <div class="article-title">
      <h4><%= link_to "Portfolio: #{@portfolio.name}", @portfolio %></h4>
      <h4>Holding: <%= @holding.symbol %></h4>
      <h2>List of Transactions</h2>
    </div>
   
    <%= button_to "Delete", holding_path(@holding), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this holding?" } %>
  </div>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Shares</th>
        <th>Cost</th>
        <th>Value</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @holding.transactions.each do |transaction| %>
      <tr onclick="window.location='<%= transaction_path(transaction) %>';" style='cursor: pointer;'>
        <td><%= transaction.created_at.to_date %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.price %></td>
        <td>$0</td>
        <td><%= transaction.quantity * transaction.price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</article>

<%# Form %>
<div class="form-container">
  <h2>Add Transaction</h2>
  <%= form_with url: holding_transactions_path(@holding) do |form| %>
    <% if @transaction.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @transaction.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= field_set_tag do %>
      <%= form.hidden_field "transaction[holding_id]", value: @holding.id %>
      <%= form.text_field "transaction[price]", placeholder: "Transacted price" %>
      <%= form.text_field "transaction[quantity]", placeholder: "Quantity" %>
      <%= form.submit "Submit" %>
    <% end %>
  <% end %>
</div>