<h4>Portfolio: <%= @portfolio.name %></h4>

<h2>Transactions for ($name) (<%= @holding.symbol %>)</h2>

<table>
  <thead>
    <tr>
      <th>Shares</th>
      <th>Cost</th>
      <th>Value</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @portfolio.holdings.each do |holding| %>
      <tr onclick="window.location='<%= portfolio_holding_path(@portfolio, holding) %>';" style='cursor: pointer;'>
        <td>0</td>
        <td>$0</td>
        <td>$0</td>
        <td>$0</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-container">
  <h2>Add a transaction</h2>
  <%= render 'holdings/form' %>
</div>

<%= button_to "Destroy Holding", @portfolio, method: :delete %>