<div class="form-container">
  <h2><%= title %></h2>

  <%= form_with(model: portfolio) do |form| %>
    <% if portfolio.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

        <ul>
          <% portfolio.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= field_set_tag do %>
      <%= form.text_field :name, placeholder: "Portfolio Name" %>
      <%= form.submit "Submit" %>
    <% end %>
  <% end %>
</div>