<%# Form to Create or Rename Portfolio %>
<div class="form-container">
  <h2><%= title %></h2>

  <%= form_with(model: portfolio) do |form| %>
    <% if portfolio.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

        <ul>
          <% portfolio.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= field_set_tag do %>
      <%# form.label :name, "Portfolio Name" %>
      <%= form.text_field :name, placeholder: "Portfolio Name" %>

      <div class="form-buttons">
        <%= link_to "Cancel", :back, class: "button btn-cancel" %>
        <%= form.button "Submit", class: "button" %>
      </div>
    <% end %>
  <% end %>
</div>