<% if portfolios.empty? %>
  <p>There are currently no portfolios.</p>
<% else %>
<%# Table of all portfolios %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount Invested</th>
      <th>Current Value</th>
      <th>P/L</th>
    </tr>
  </thead>
  <tbody>
    <% portfolios.each do |portfolio| %>
      <% attributes = get_portfolio_attributes(portfolio) %>
      <tr onclick="window.location='<%= portfolio_path(portfolio) %>';" style='cursor: pointer;'>
        <td><%= attributes[:name] %></td>
        <td><%= attributes[:amount_invested] %></td>
        <td><%= attributes[:current_value] %></td>
        <td><%= attributes[:delta] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>