<%# Table of all portfolios %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount Invested</th>
      <th>Current Value</th>
      <th>P/L</th>
    </tr>
  </thead>
  <tbody>
    <% portfolios.each do |portfolio| %>
      <tr onclick="window.location='<%= portfolio_path(portfolio) %>';" style='cursor: pointer;'>
        <td><%= portfolio.name %></td>
        <td>$ <%= sprintf('%.2f', portfolio.invested || 0) %></td>
        <td>$ <%= sprintf('%.2f', 0) %></td>
        <td><%= sprintf('%.2f', 0) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>