<p style="color: green"><%= notice %></p>

<article>
  <div class="article-header">
    <h2>Overview of Portfolios</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>Portfolio Name</th>
        <th>Cost</th>
        <th>Current Value</th>
        <th>P/L</th>
      </tr>
    </thead>
    <tbody>
      <% @portfolios.each_with_index do |portfolio, idx| %>
        <tr onclick="window.location='<%= portfolio_path(portfolio) %>';" style='cursor: pointer;'>
          <td><%= portfolio.name %></td>
          <td>$0</td>
          <td>$0</td>
          <td>0%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<div class="form-container">
  <h2>Add a portfolio</h2>
  <%= form_with model: @portfolio do |form| %>
    <%= field_set_tag do %>
      <%= form.text_field :name, placeholder: "Portfolio Name" %>
      <%= form.submit "Create Portfolio" %>
    <% end %>
  <% end %>
</div>