<p style="color: green"><%= notice %></p>

<article>
  <div class="article-header">
    <div class="article-title">
      <h4>Portfolio: <%= @portfolio.name %></h4>
      <h2>List of Holdings</h2>
    </div>
    <div class="article-nav">
      <%= button_to "Rename Portfolio", edit_portfolio_path(@portfolio), method: :get %>
      <%= button_to "Delete Portfolio", @portfolio, method: :delete %>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Cost</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @portfolio.holdings.each do |holding| %>
        <tr onclick="window.location='<%= portfolio_holding_path(@portfolio, holding) %>';" style='cursor: pointer;'>
          <td><%= holding.symbol %></td>
          <td>(Name)</td>
          <td>0</td>
          <td>$0</td>
          <td>$0</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<div class="form-container">
  <h2>Add a holding</h2>
  <%= form_with model: [@portfolio, @holding] do |form| %>
    <%= field_set_tag do %>
      <%= form.text_field :symbol, placeholder: "Holding symbol" %>
      <%= form.submit "Create Holding" %>
    <% end %>
  <% end %>
</div>