<%# Show a single portfolio and its associated holdings %>
<%# Provides the option to add a holding on the same page %>

<%# Flash message %>
<% if notice %>
  <div class="flash-message"><%= notice %></div>
<% end %>

<%# Main section %>
<article>
  <%# Header links %>
  <div class="article-header">
    <div class="article-title">
      <h4 class="breadcrumb">
        <%= link_to "Home", portfolios_path %><span class="caret-right"></span>
        <%= link_to "#{@portfolio.name}", @portfolio %>
      </h4>
      <h2>List of Holdings</h2>
    </div>
    <div class="article-nav">
      <form action="<%= new_portfolio_holding_path(@portfolio) %>" method="get">
        <button class="button">
          <%= image_tag "add.png", class: "btn-icon" %>
          Add Holding
        </button>
      </form>
      <form action="<%= edit_portfolio_path(@portfolio) %>" method="get">
        <button class="button">
          <%= image_tag "edit.png", class: "btn-icon" %>
          Edit Portfolio
        </button>
      </form>
    </div>
  </div>

  <%# Table of holdings %>
  <%= render "holdings/holding", portfolio_holdings: @portfolio_holdings %>
</article>