<p style="color: green"><%= notice %></p>

<h2>Holdings in <%= @portfolio.name %></h2>
  <div class="container">
    <%= render @portfolio.holdings %>
  </div>

<h2>Add a holding</h2>
<div class="container">
  <%= render 'holdings/form' %>
</div>

<%= button_to "Edit this portfolio", edit_portfolio_path(@portfolio), method: :get %>
<%= button_to "Destroy this portfolio", @portfolio, method: :delete %>