<!DOCTYPE html>
<html>
  <head>
    <title>Stock Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to root_path do %>
        <div class="logo-container">
          <%= image_tag("bull-market.png") %>
          <p>Stock Portfolio</p>
        </div>
      <% end %>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
